.header_div {
    background: cornflowerblue;
    color: rgb(255, 231, 20);

}

body {
    font-family: 'DM Serif Display', serif;
    background: #dfdaf5;
}

.header_div p {
    font-family: serif, sans-serif;
    color: rgb(128, 128, 128);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: 'fantasy',serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
    
}
.copy_right_footer{
    position:fixed;
    color: rgb(0, 166, 255);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: mistyrose;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(149, 149, 151, 0.851);
}